<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentelservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/64bac443-245f-4a43-94ad-5d491e497d3d/resourcegroups/rg-1/providers/Microsoft.Web/sites/PaymentELServices</ResourceId>
    <UserName>$PaymentELServices</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentelservices.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>